.container{
    display: flex;
    position: absolute;
    top:40%;
    left: 40%;
    transform: translate(-40%,-40%);
}

form{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-right: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #04AA6D;
    color: white;
  }

a{
    cursor: pointer;
}

button{
    cursor: pointer;
}

.tomato{
  border:2px solid tomato;
}

.right-bar{
  position: relative;
  top:0
}

h2{
  margin-top: 0;
}